---
import type { AnyZodObject } from "astro/zod";

interface Props {
    title: string;
    category: string;
    place: string;
    autor: string;
    editorial: string;
    icon: string;
    icon1: string;
    url1: string;
    url2: string;
}

const { title, category, place, autor, editorial, icon, icon1, url1, url2 } =
    Astro.props;
---

<div id="main">
    <div id="title">{title}</div>
    <div id="autor">{autor}</div>
    <div id="category">{category}</div>
    <div id="editorial">{editorial}</div>
    <div id="place">{place}</div>
    <div id="icon-container">
        <div class="icon">
            <a href={url1} set:html={icon} />
        </div>
        <div class="icon">
            <a href={url2} set:html={icon1} />
        </div>
    </div>
</div>
<style>
    a {
        text-decoration: none;
        color: white;
        font-style: normal;
    }
    #icon-container {
        display: inline-flex;
        padding: inherit;
        flex-direction: column;

        align-items: center;
    }
    #title {
        grid-area: title;
        border-top-left-radius: 0.5rem;
        font-family: "Arvo", sans-serif;
    }
    #autor {
        grid-area: autor;
        font-family: "Arvo", sans-serif;
    }
    #category {
        grid-area: category;
        border-bottom-left-radius: 0.5rem;
        font-family: "Arvo", sans-serif;
    }
    #editorial {
        grid-area: editorial;
        font-family: "Arvo", sans-serif;
    }
    #place {
        grid-area: place;
        font-family: "Arvo", sans-serif;
    }
    div > div {
        display: flex;
        align-items: center;
        padding: 0.4rem;
    }
    #title,
    #autor {
        background-color: #443659;
    }
    #category,
    #editorial,
    #place {
        background-color: #8c618c;
    }
    #main {
        display: grid;
        background-color: #32253f;
        grid-template-columns: 6rem 1fr 2fr 2fr;
        grid-template-rows: 3rem 4rem;
        grid-template-areas: "icon title title autor" "icon category editorial place";
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 0.2rem 0.2rem 1rem #0005;
        color: #fefefe;
    }
    @media screen (width <= 1000) {
        #main {
            grid-template-areas: "icon title" "autor autor" "category editorial" "place place";
        }
    }
</style>
